{% extends 'base.html.twig' %}

{% block title %}Vérification requise{% endblock %}

{% block body %}
    <h1>Veuillez confirmer votre email</h1>
    <p>Un email de confirmation vous a été envoyé.</p>
    <p>Merci de cliquer sur le lien dans cet email pour activer votre compte.</p>
{% endblock %}
