{% extends 'base.html.twig' %}

{% block title %}Lucky Number{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <div class="card w-75 shadow">
        <h1 class="text-center">

     {% for i in 10 %}
        {% if randomNumber%2 !=0 %}
           Tirage au sort  <span class="bg-dark text-light">{{randomNumber}}<span>
        {% else %}
           Tirage au sort  <span class="bg-danger text-light">{{randomNumber}}<span>
        {% endif %}
     {% endfor %}
        
        </h1>
    </div>
</div>
{% endblock %}
